html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f1ae3a;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  width: 90%;
  margin: 0 auto;
  background-color: inherit;
}

@media screen and (min-width: 1024px) {
  
  body {
    flex-direction: row;
    gap: 40px;
    padding-top: 175px;
    padding-bottom: 80px;
  }
  
  main {
    width: 60%;
    margin: 0 auto;
    background-color: inherit;
    margin-right: 40px;
  }

}
