nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.transparentNav {
  background: transparent;
}

nav > span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

nav > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25em;
  background-color: inherit;
  cursor: pointer;
  border: none;
}

.fa-angles-down-hover {
  animation-name: swayUpDown;
  animation-iteration-count: infinite;
  animation-duration: 800ms;
  color: rgb(157, 255, 0);
}

@keyframes swayUpDown {
  0% {
    transform: translateY(0);
  } 50% {
    transform: translateY(5px);
  }100% {
    transform: translateY(0);
  }
}

.scroll-up-show {
  width: 75px;
  height: 75px;
  background-color: rgb(255, 0, 0);
  color: white;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.scroll-up-hide {
  display: none;
}

#scrollUpBtn:hover {
  border: 5px solid black;
  animation-name: pulse;
  animation-duration: 700ms;  
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0%{
    box-shadow: 0 0 3px 3px black;
    font-size: 32px;
    width: 75px;
    height: 75px;
    bottom: 20px;
    right: 20px;
  } 50% {
    box-shadow: 0 0 3px 3px rgb(255, 255, 255);
    font-size: 40px;
    width: 80px;
    height: 80px;
    bottom: 17.5px;
    right: 17.5px;
  } 100% {
    box-shadow: 0 0 3px 3px black;
    font-size: 32px;
    width: 75px;
    height: 75px;
    bottom: 20px;
    right: 20px;
  }
}