.new-tweet {
  width: 90%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  background-color: inherit;
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
}

#tweet-text:focus-visible {
  border-bottom: 3px solid black;
  outline: none;
}

#tweet-btn {
  
}