.new-tweet {
  width: 100%;
  margin: 50px auto;
}

form {
  display: flex;
  flex-direction: column;
}

.new-tweet h2 {
  text-decoration: underline;
  text-align: center;
}

.new-tweet form div {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

#tweet-text {
  background-color: inherit;
  font-family: inherit;
  border: none;
  border-bottom: 3px solid black;
  margin-bottom: 15px;
  height: 60px;
  color: black;
  font-weight: 600;
  margin-top: 5px;
}

label[for=tweet-text] {
  font-weight: 900;
  font-style: italic;
  font-size: 1.25em;
}

#tweet-text::placeholder {
  font-weight: 600;
}

#tweet-text:focus-visible {
  border-bottom: 3px solid black;
  outline: none;
}

#tweetBtn {
  background-color: #4056A1;
  color: #fff;
  border-radius: 7px;
}