article {
  border: 3px solid black;
  border-radius: 15px;
  padding: 1em;
  margin-top: 1em;
  background-color: rgba(212, 212, 212, 0.92);
  color: black;
}

article:hover {
  box-shadow: 10px 10px rgb(132, 136, 136);
  background-color: rgba(211, 255, 234, 0.787);
  border: 3px solid white;
}

article header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

article header figure {
  display: flex;
  align-items: center;
  margin: 0;
}

article header figure img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

article p {
  font-weight: 600;
  border-bottom: 3px solid black;
  width: 100%;
  overflow-wrap: break-word;
}

article footer {
  display: flex;;
  justify-content: space-between;
}

footer > div > i {
  color: #4056A1;
}

footer > div > i:hover {
  color: rgb(211, 179, 0);
}

