article {
  border: 3px solid black;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 1em;
  background-color: rgba(89, 185, 89, 0.472);
}

article:hover {
  box-shadow: 10px 10px rgb(166, 175, 175);
}

article header {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

article header figure {
  display: flex;
  align-items: center;
  margin: 0;
}

article header figure img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

article p {
  font-weight: 600;
  border-bottom: 3px solid black;
}

article footer {
  display: flex;;
  justify-content: space-between;
}

footer > div > i {
  color: #4056A1;
}

footer > div > i:hover {
  color: rgb(211, 179, 0);
}

